@use 'colours';

$text-color: colours.$base0;
$code-background: colours.$base03;

.highlight pre {
  background: $code-background;

  code {
    color: $text-color;
  }

  .c { color: colours.$base01 } /* Comment */
  .err { color: colours.$magenta } /* Error */
  .g { color: $text-color } /* Generic */
  .k { color: colours.$orange } /* Keyword */
  .l { color: $text-color } /* Literal */
  .n { color: $text-color } /* Name */
  .o { color: $text-color } /* Operator */
  .x { color: colours.$orange } /* Other */
  .p { color: $text-color } /* Punctuation */
  .cm { color: colours.$base01 } /* Comment.Multiline */
  .cp { color: colours.$orange } /* Comment.Preproc */
  .c1 { color: colours.$base01 } /* Comment.Single */
  .cs { color: colours.$green } /* Comment.Special */
  .gd { color: colours.$cyan } /* Generic.Deleted */
  .ge { color: $text-color; font-style: italic } /* Generic.Emph */
  .gr { color: colours.$red } /* Generic.Error */
  .gh { color: colours.$orange } /* Generic.Heading */
  .gi { color: colours.$green } /* Generic.Inserted */
  .go { color: $text-color } /* Generic.Output */
  .gp { color: $text-color } /* Generic.Prompt */
  .gs { color: colours.$base0; font-weight: bold } /* Generic.Strong */
  .gu { color: colours.$orange } /* Generic.Subheading */
  .gt { color: $text-color } /* Generic.Traceback */
  .kc { color: colours.$green } /* Keyword.Constant */
  .kd { color: colours.$blue } /* Keyword.Declaration */
  .kn { color: colours.$yellow } /* Keyword.Namespace */
  .kp { color: colours.$green } /* Keyword.Pseudo */
  .kr { color: colours.$magenta } /* Keyword.Reserved */
  .kt { color: colours.$yellow } /* Keyword.Type */
  .ld { color: $text-color } /* Literal.Date */
  .m { color: colours.$cyan } /* Literal.Number */
  .s { color: colours.$cyan } /* Literal.String */
  .na { color: colours.$blue } /* Name.Attribute */
  .nb { color: colours.$orange } /* Name.Builtin */
  .nc { color: colours.$yellow } /* Name.Class */
  .no { color: colours.$yellow } /* Name.Constant */
  .nd { color: colours.$green } /* Name.Decorator */
  .ni { color: colours.$orange } /* Name.Entity */
  .ne { color: colours.$orange } /* Name.Exception */
  .nf { color: colours.$blue } /* Name.Function */
  .nl { color: $text-color } /* Name.Label */
  .nn { color: $text-color } /* Name.Namespace */
  .nx { color: colours.$yellow } /* Name.Other */
  .py { color: $text-color } /* Name.Property */
  .nt { color: colours.$blue } /* Name.Tag */
  .nv { color: colours.$blue } /* Name.Variable */
  .ow { color: colours.$green } /* Operator.Word */
  .w { color: $text-color } /* Text.Whitespace */
  .mf { color: colours.$orange } /* Literal.Number.Float */
  .mh { color: colours.$orange } /* Literal.Number.Hex */
  .mi { color: colours.$orange } /* Literal.Number.Integer */
  .mo { color: colours.$orange } /* Literal.Number.Oct */
  .sb { color: colours.$base01 } /* Literal.String.Backtick */
  .sc { color: colours.$cyan } /* Literal.String.Char */
  .sd { color: colours.$base01 } /* Literal.String.Doc */
  .s2 { color: colours.$cyan } /* Literal.String.Double */
  .se { color: colours.$orange } /* Literal.String.Escape */
  .sh { color: colours.$base01 } /* Literal.String.Heredoc */
  .si { color: colours.$cyan } /* Literal.String.Interpol */
  .sx { color: colours.$cyan } /* Literal.String.Other */
  .sr { color: colours.$red } /* Literal.String.Regex */
  .s1 { color: colours.$cyan } /* Literal.String.Single */
  .ss { color: colours.$cyan } /* Literal.String.Symbol */
  .bp { color: colours.$blue } /* Name.Builtin.Pseudo */
  .vc { color: colours.$blue } /* Name.Variable.Class */
  .vg { color: colours.$blue } /* Name.Variable.Global */
  .vi { color: colours.$blue } /* Name.Variable.Instance */
  .il { color: colours.$cyan } /* Literal.Number.Integer.Long */
}
