@use "variables";

/* Basscss Base Buttons */

button,
.button {
  font-family: variables.$button-font-family;
  font-size: variables.$button-font-size;
  font-weight: variables.$button-font-weight;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  line-height: variables.$button-line-height;
  padding: variables.$button-padding-y variables.$button-padding-x;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover {
  text-decoration: none;
}
