@use "variables";

/* Basscss Base Typography */

body {
  font-family: variables.$font-family;
  line-height: variables.$line-height;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-weight: variables.$heading-font-weight;
  line-height: variables.$heading-line-height;
  margin-top: 1em;
  margin-bottom: .5em;
}

p,
dl,
ol,
ul {
  font-size: variables.$h4;
  margin-top: 0;
  margin-bottom: variables.$space-2;
}

ol,
ul {
  padding-left: variables.$space-3;
}

pre,
code,
samp {
  font-family: variables.$monospace-font-family;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: variables.$space-2;
  overflow-x: scroll;
}

hr {
  margin-top: variables.$space-3;
  margin-bottom: variables.$space-3;
}

blockquote {
  margin-top: variables.$space-3;
  margin-bottom: variables.$space-3;
  margin-left: 0;
  padding-left: variables.$space-2;
  padding-right: variables.$space-2;
}

blockquote,
blockquote p {
  font-size: variables.$h3;
  font-style: italic;
}

h1,
.h1 {
  font-size: variables.$h1;
}

h2,
.h2 {
  font-size: variables.$h2;
}

h3,
.h3 {
  font-size: variables.$h3;
}

h4,
.h4 {
  font-size: variables.$h4;
}

h5,
.h5 {
  font-size: variables.$h5;
}

h6,
.h6 {
  font-size: variables.$h6;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
