@use "variables";

/* Basscss Color Base */

body {
  color: variables.$dark-gray;
  background-color: white;
}

a {
  color: variables.$blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: variables.$lighter-gray;
  border-radius: variables.$border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: variables.$border-width;
  border-bottom-color: variables.$border-color;
}
