@use "variables";

/* Basscss Colors */

.dark-gray {
  color: variables.$dark-gray;
}

.white {
  color: white;
}

.blue {
  color: variables.$blue;
}

.mid-gray {
  color: variables.$mid-gray;
}

.light-gray {
  color: variables.$light-gray;
}

.lighter-gray {
  color: variables.$lighter-gray;
}

.red {
  color: variables.$red;
}

.green {
  color: variables.$green;
}

.yellow {
  color: variables.$yellow;
}

.orange {
  color: variables.$orange;
}

.bg-dark-gray {
  background-color: variables.$dark-gray;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: variables.$blue;
}

.bg-mid-gray {
  background-color: variables.$mid-gray;
}

.bg-light-gray {
  background-color: variables.$light-gray;
}

.bg-lighter-gray {
  background-color: variables.$lighter-gray;
}

.bg-red {
  background-color: variables.$red;
}

.bg-green {
  background-color: variables.$green;
}

.bg-yellow {
  background-color: variables.$yellow;
}

.bg-orange {
  background-color: variables.$orange;
}

.bg-darken-1 {
  background-color: variables.$darken-1;
}

.bg-darken-2 {
  background-color: variables.$darken-2;
}

.bg-darken-3 {
  background-color: variables.$darken-3;
}

.bg-darken-4 {
  background-color: variables.$darken-4;
}
