@use "variables";

input,
select,
textarea,
fieldset {
  font-size: variables.$form-field-font-size;
  margin-top: 0;
  margin-bottom: variables.$space-1;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  box-sizing: border-box;
  height: variables.$form-field-height;
  padding: variables.$form-field-padding-y variables.$form-field-padding-x;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  box-sizing: border-box;
  line-height: 1.75;
  padding: variables.$form-field-padding-y variables.$form-field-padding-x;
}

select:not([multiple]) {
  height: variables.$form-field-height;
  vertical-align: middle;
}

textarea {
  box-sizing: border-box;
  line-height: 1.75;
  padding: variables.$form-field-padding-y variables.$form-field-padding-x;
}

.form-stacked input,
.form-stacked textarea,
.form-stacked select {
  width: 100%;
}

.field-light {
  background-color: white;
  transition: box-shadow .2s ease;
  border-style: solid;
  border-width: variables.$border-width;
  border-color: variables.$border-color;
  border-radius: variables.$border-radius;
}

.field-light:focus {
  outline: none;
  border-color: variables.$blue;
  box-shadow: 0 0 2px rgba(variables.$blue,.5);
}

.field-light:disabled {
  color: variables.$mid-gray;
  background-color: variables.$darken-2;
}

.field-light:read-only:not(select) {
  background-color: variables.$darken-2;
}

.field-light:invalid {
  border-color: variables.$red;
}

.field-light.is-success {
  border-color: variables.$green;
}

.field-light.is-warning {
  border-color: variables.$yellow;
}

.field-light.is-error {
  border-color: variables.$red;
}


.radio-light,
.checkbox-light {
  transition: box-shadow .2s ease;
}

.radio-light {
  border-radius: 50%;
}

.radio-light:focus,
.checkbox-light:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(variables.$blue, .5);
}
