@use "variables";

@media screen and (min-width: variables.$viewport-small) {
  html {
    font-size: variables.$base-font-size;
  }

  h1,
  .h1 {
    font-size: variables.$h1;
  }

  .site-header {
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header a {
    font-size: variables.$h4;
  }

  .site-header .site-title {
    font-size: variables.$h3;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: .25rem;
  }

  blockquote {
    margin-left: variables.$space-3;
    padding: variables.$space-2a variables.$space-3 variables.$space-1;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}

@media screen and (min-width: variables.$viewport-medium) {
  html {
    font-size: calc(variables.$base-font-size * 16 / 14);
  }
}

@media screen and (min-width: variables.$viewport-large) {
  html {
    font-size: calc(variables.$base-font-size * 18 / 14);
  }
}

@media screen and (min-width: variables.$viewport-large + 14) {
  em img {
    max-width: variables.$measure-width + 14;
    margin-left: -7em;
  }
}
